{% extends "base_gym.html" %}

{% block title %}Gym Settings{% endblock %}

{% block content %}
<h1>{{ gym.name }} Settings</h1>

<div class="container mt-5">
    <!-- Card for Gym Information -->
    <div class="card">
        <div class="card-header">
            <h2>Gym Basic Information</h2>
        </div>
        <div class="card-body">
            <!-- Display success and error messages -->
            {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Gym information form -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Update Gym Information</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
