{% extends "base_gym.html" %}

{% block title %}Gym Settings{% endblock %}

{% block content %}
<h1>{{ gym.name }} Settings</h1>

<div class="container mt-5">
    <!-- Card for Gym Information -->
    <div class="card">
        <div class="card-header">
            <h2>Gym Basic Information</h2>
        </div>
        <div class="card-body">
            <!-- Display success and error messages -->
            {% if messages %}
            <div class="alert-container">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} mt-3" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <!-- Gym information form -->
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary mt-3">Update Gym Information</button>
            </form>
        </div>
    </div>

    <!-- Card for Gym Admins -->
    <div class="card mt-4">
        <div class="card-header">
            <h2>Registered Admins</h2>
        </div>
        <div class="card-body">
            <!-- Section for Primary Owners -->
            <h5>Registered Gym Owner:</h5>
            <ul>
                {% for ownership in primary_owners %}
                    <li>{{ ownership.owner.user.get_full_name }}</li>
                {% empty %}
                    <li>No primary owner assigned to this gym.</li>
                {% endfor %}
            </ul>

            <!-- Section for Managers -->
            <h5>Gym Managers (Admins) {{ total_gym_admins }}/20:</h5>
            <ul>
                {% for ownership in managers %}
                    <li>{{ ownership.owner.user.get_full_name }}</li>
                {% empty %}
                    <li>No managers assigned to this gym.</li>
                {% endfor %}
            </ul>
        </div>
    </div>


</div>
{% endblock %}
